body {
  background-color: lightgrey; }

#pausection {
  background-color: Blue;
  text-align: center; }

.backtohome {
  display: none;
  float: left; }

.backtolist {
  display: none;
  float: right; }

.pausebtn {
  display: inline-block; }

#bootstrapfour {
  display: none;
  color: deeppink;
  font-style: italic; }

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
#creation, #rolesetting, #rolecheck, .description, #daylayout, #votelayout, #voteresult, #geinfo {
  width: 100vw;
  height: 90vh;
  display: none; }

#creation {
  background-color: grey; }

#rolesetting li {
  border: thick solid Black;
  background-color: lightblue;
  margin: 20px;
  list-style: none;
  font-weight: bold;
  padding: 5px; }

#rolecheck {
  position: relative; }

.description {
  position: relative;
  text-align: center; }

#daylayout {
  position: relative;
  background-color: #07f6ff38; }

#votelayout {
  background-color: ghostwhite; }

#voteresult {
  background-color: beige; }

#geinfo {
  text-align: center;
  background-color: blanchedalmond; }

#gamerlist {
  min-width: 300px;
  position: absolute; }

#gamerlist div {
  padding: 10px;
  border: thick double skyblue;
  border-radius: 6px;
  background-color: gold; }

#newplayer {
  border: thick double skyblue;
  border-radius: 6px;
  display: inline-block;
  background-color: lightgreen; }

#deletion {
  border: thick double Red;
  display: inline-block;
  background-color: beige; }

#playerset {
  margin-left: 10vw; }

#checkarea {
  position: absolute;
  width: 100%;
  align-self: center; }

.nametext {
  width: 100%; }

.wwstorynote {
  display: none;
  font-size: small;
  font-style: italic;
  color: grey; }

.descriptgood, .descriptevil, .descriptsf, #dayalive div, #restext, .getext, .endali, .winning {
  border-radius: 6px; }

.descriptgood {
  border: thick solid Green; }

.descriptevil {
  border: thick solid Red; }

.descriptsf {
  border: thick solid purple; }

.wwrule {
  position: absolute;
  right: 5%; }

.ntsec {
  min-width: 100px;
  margin-right: 10%; }

.ntstop, .ckstop {
  display: none;
  margin-left: 39vw;
  margin-top: 40vh;
  margin-bottom: 46vh; }

.ntstop {
  color: gold; }

#votetimebtn {
  position: absolute;
  right: 0; }

#daylive {
  visibility: collapse; }

#dayalive div {
  background-color: lightgreen;
  border: thick solid Blue;
  padding: 8px;
  margin: 8px;
  list-style: none;
  font-weight: bold;
  color: black; }

.daybtn {
  margin-left: 15px; }

#votetitle {
  font-weight: bold;
  background-color: midnightblue;
  color: goldenrod; }

.votecan {
  margin-left: 10px; }

.vttnm {
  color: Blue;
  font-size: x-large;
  background-color: gold;
  border-radius: 6px; }

.votestname {
  border: dotted Red;
  background: yellow; }

#voteplayers {
  list-style: none;
  display: none; }

#restext {
  background-color: yellow;
  font-weight: bold;
  border: solid Red;
  display: inline-block;
  font-size: xx-large; }

#vtedtext {
  background-color: lightgrey;
  font-weight: bold;
  border: solid blue;
  border-radius: 5px; }

.vtres {
  color: red;
  font-weight: bolder; }

.getext {
  border: thick solid Green;
  background-color: skyblue;
  font-weight: bold;
  font-size: 120%; }

.gegrid {
  visibility: collapse;
  margin: 3px; }

.endali {
  border: double Gold;
  background-color: black;
  font-weight: bold;
  color: yellow; }

.enddie {
  border: solid silver;
  background-color: lightgray;
  font-style: italic; }

.winning {
  background-color: black;
  font-weight: bold;
  border: double gold;
  margin: 10px;
  display: inline-block;
  font-size: 200%; }

#favDialog {
  min-width: 120px; }

/*# sourceMappingURL=csswolf.css.map */
