// base home button
.backtohome {
    position: absolute;
    bottom: 0;
    left : 0;
}

// base container attr
%phasecontain {
    width: 100vw;
    height: 100vh;
    display: none;
}
#creation {
    @extend %phasecontain;
        background-color: grey;
}
#rolesetting {
    @extend %phasecontain;
}
#rolesetting li {
    border: thick solid Black;
    background-color: lightblue;
    margin: 20px;
    list-style: none;
    font-weight: bold;
    padding: 5px;
}
#rolecheck {
    @extend %phasecontain;
    position: relative;
}
.description {
    @extend %phasecontain;
    position: relative;
}
#daylayout {
    @extend %phasecontain;
    position: relative;
}
#votelayout {
    @extend %phasecontain;
}
#voteresult {
    @extend %phasecontain;
    background-color: beige
}
#geinfo {
    @extend %phasecontain;
    text-align: center;
    background-color: blanchedalmond;
}

// phase 0
#gamerlist {
    min-width: 300px;
    position: absolute;
}
#gamerlist div {
    padding: 10px;
    border: thick double skyblue;
    border-radius: 6px;
    background-color: gold;
}
#newplayer {
    border: thick double skyblue;
    border-radius: 6px;
    display: inline-block;
    background-color: lightgreen;
}
#deletion {
    border: thick double Red;
    display: inline-block;
    background-color: beige;
}
#playerset {
    margin-left: 10vw;
}

// phase 1
#checkarea {
    position: absolute;
    width: 100%;
    align-self: center;
}
.nametext {
    width: 100%;
}
.checkbtn {
    align-self: center;
}
// phase 2 decription box
%decriptionbox {
    border-radius: 6px;
}
.descriptgood {
    @extend %decriptionbox;
    border: thick solid Green;
}
.descriptevil {
    @extend %decriptionbox;
    border: thick solid Red;
}
.descriptsf {
    @extend %decriptionbox;
    border: thick solid purple;
}
.wwrule {
    position: absolute;
    right: 5%;
}
.ntsec {
    min-width: 100px;
    margin-right: 10%;
}
.ntstop, .ckstop {
    display: none;
}

// phase 3 daytime menu
#votetimebtn {
    position: absolute;
    right: 0;
}
#daylive { // bootstrap grid
    visibility: collapse;
}
#dayalive div {
    @extend %decriptionbox;
    background-color: lightgreen;
    border: thick solid Blue;
    padding: 8px;
    margin: 8px;
    list-style: none;
    font-weight: bold;
}
.daybtn {
    margin-left: 15px;
}

// vote add
#votetitle {
    font-weight: bold;
}
.votecan {
    margin-left: 10px;
}
// vote result
#voteplayers {
    list-style: none;
    display: none;
}
#restext {
    @extend %decriptionbox;
    background-color: yellow;
    font-weight: bold;
    border: solid Red;
    display: inline-block;
    font-size: xx-large;
}

// Game End
.getext {
    @extend %decriptionbox;
    border: thick solid Green;
    background-color: skyblue;
    font-weight: bold;
    font-size: 120%;
}
.gegrid {
    visibility: collapse;
    margin: 3px;
}
.endali {
    @extend %decriptionbox;
    border: double Gold;
    background-color: black;
    font-weight: bold;
    color: yellow;
}
.enddie {
    border: solid silver;
    background-color: lightgray;
    font-style: italic;
}
.winning {
    @extend %decriptionbox;
    background-color: black;
    font-weight: bold;
    border: double gold;
    margin: 10px;
    display: inline-block;
    font-size: 200%;
}

// base back to list button
.backtolist {
    position: absolute;
    bottom: 0;
    right: 0;
}