// base bgcolor
body {
    background-color: lightgrey;
}
// pause button section
#pausection {
    background-color: Blue;
    text-align: center;
}
// base home button
.backtohome {
    display: none;
    margin-right: 20vw;
}
// base back to list button
.backtolist {
    display: none;
    margin-left: 17vw;
}
// base pause button
.pausebtn {
    display: inline-block;
}
// not paused
.notpaused {
}
// base thank
#bootstrapfour {
    display: none;
    color: deeppink;
    font-style: italic;
}

// animation for description
@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

// base container attr
%phasecontain {
    width: 100vw;
    height: 90vh;
    display: none;
}
#creation {
    @extend %phasecontain;
        background-color: grey;
}
#rolesetting {
    @extend %phasecontain;
}
#rolesetting li {
    border: thick solid Black;
    background-color: lightblue;
    margin: 20px;
    list-style: none;
    font-weight: bold;
    padding: 5px;
}
#rolecheck {
    @extend %phasecontain;
    position: relative;
}
.description {
    @extend %phasecontain;
    position: relative;
    text-align: center;
}
#daylayout {
    @extend %phasecontain;
    position: relative;
    background-color: #07f6ff38;
}
#votelayout {
    @extend %phasecontain;
    background-color: ghostwhite;
}
#voteresult {
    @extend %phasecontain;
    background-color: beige
}
#geinfo {
    @extend %phasecontain;
    text-align: center;
    background-color: blanchedalmond;
}

// phase 0
#gamerlist {
    min-width: 300px;
    position: absolute;
}
#gamerlist div {
    padding: 10px;
    border: thick double skyblue;
    border-radius: 6px;
    background-color: gold;
}
#newplayer {
    border: thick double skyblue;
    border-radius: 6px;
    display: inline-block;
    background-color: lightgreen;
}
#deletion {
    border: thick double Red;
    display: inline-block;
    background-color: beige;
}
#playerset {
    margin-left: 10vw;
}

// phase 1
#checkarea {
    position: absolute;
    width: 100%;
    align-self: center;
}
.nametext {
    width: 100%;
}
.wwstorynote {
    display: none;
    font-size: small;
    font-style: italic;
    color: grey;
}

// phase 2 decription box
%decriptionbox {
    border-radius: 6px;
}
.descriptgood {
    @extend %decriptionbox;
    border: thick solid Green;
}
.descriptevil {
    @extend %decriptionbox;
    border: thick solid Red;
}
.descriptsf {
    @extend %decriptionbox;
    border: thick solid purple;
}
.wwrule {
    position: absolute;
    right: 5%;
}
.ntsec {
    min-width: 100px;
    margin-right: 10%;
}
.ntstop, .ckstop {
    display: none;
    margin-left: 39vw;
    margin-top: 40vh;
    margin-bottom: 46vh;
}
.ntstop {
    color: gold;
}

// phase 3 daytime menu
#votetimebtn {
    position: absolute;
    right: 0;
}
#daylive { // bootstrap grid
    visibility: collapse;
}
#dayalive div {
    @extend %decriptionbox;
    background-color: lightgreen;
    border: thick solid Blue;
    padding: 8px;
    margin: 8px;
    list-style: none;
    font-weight: bold;
    color: black;
}
.daybtn {
    margin-left: 15px;
}

// vote add
#votetitle {
    font-weight: bold;
    background-color: midnightblue;
    color: goldenrod;
}
.votecan {
    margin-left: 10px;
}
.vttnm {
    color: Blue;
    font-size: x-large;
    background-color: gold;
    border-radius: 6px;
}
.votestname {
    border: dotted Red;
    background: yellow;
}
// vote result
#voteplayers {
    list-style: none;
    display: none;
}
#restext {
    @extend %decriptionbox;
    background-color: yellow;
    font-weight: bold;
    border: solid Red;
    display: inline-block;
    font-size: xx-large;
}
#vtedtext {
    background-color: lightgrey;
    font-weight: bold;
    border: solid blue;
    border-radius: 5px;
}
.vtres {
    color: red;
    font-weight: bolder;
}

// Game End
.getext {
    @extend %decriptionbox;
    border: thick solid Green;
    background-color: skyblue;
    font-weight: bold;
    font-size: 120%;
}
.gegrid {
    visibility: collapse;
    margin: 3px;
}
.endali {
    @extend %decriptionbox;
    border: double Gold;
    background-color: black;
    font-weight: bold;
    color: yellow;
}
.enddie {
    border: solid silver;
    background-color: lightgray;
    font-style: italic;
}
.winning {
    @extend %decriptionbox;
    background-color: black;
    font-weight: bold;
    border: double gold;
    margin: 10px;
    display: inline-block;
    font-size: 200%;
}
#favDialog {
    min-width: 120px;
}