.navbar .navbar-brand
{
    color: yellow;
    font-family: Fantasy, serif;
}
  /* control bottom clock */
/* https://stackoverflow.com/questions/13476267/
hide-div-element-when-screen-size-is-smaller-than-a-specific-size */
@media only screen and (max-width: 600px) {
    #localtime {
        display: none;
    }
}
#localtime {
  position: absolute;
  right: 0;
}
  /* control bottom link */
#thanks {
  position: absolute;
  left: 0;
}
#exchagetable {
  background-color: lightblue;
  text-align: center;
  font-family: "Agency FB", Arial;
}
#cresult {
  font-family: "Comic Sans MS", Arial;
  border: 5px solid;
  background-color: Aquamarine;
}
#cbase{
  font-size: 20px;
}
#cabout {
  font-size: 15px;
  font-style: italic;
  color: gray;
}
#camount {
  font-size: 30px;
  color: yellow;
}
#canother {
  font-size: 30px;
  color: white;
}
#cdate {
  font-size: 12px;
  color: Violet;
}
.cheader {
  font-size: 300%;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  text-align: center;
  color: Yellow;
}
#dformula{
  font-size: 20px;
}
.dheader {
  font-family: "OCR A Std", monospace;
  text-align: center;
  color: LightPink;
  background-color: LightCyan;
  border-radius: 25px;
}
.warning {
	color: red;
  font-size: 200%;
  font-family: "Stencil Std", fantasy;
  background-color: yellow;
}
.derror {
	color: black;
  font-size: 100%;
	font-family: "Stencil Std", fantasy;
  background-color: yellow;
}
.dsolution {
	font-family: Courier, monospace;
  color: Snow;
  background-color: ForestGreen;
  font-style: italic;
}
.dnote {
	font-family: "Andale Mono", monospace;
  color: DeepPink;
}
#longdivi {
	background-color: Aqua;
  border-collapse: separate;
  overflow-x:auto;
  border-width: 10px;
  border-style: solid;
  border-color: DarkBlue;
  border-radius: 6px;
}
#longdivi td {
  padding: 0;
  margin: 0;
}
/* #dcontainer {
  background-color: DarkBlue;
  border-radius: 25px;
} */
/* from ps://v4-alpha.getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}