html, body {
    height: 100%;
    margin: 0;
}
#app {
    height: 100%;
    background-color: #303030;
}
.game_title_text {
    color: yellow;
    background-color: black;
    font-weight: bold;
    text-align: center;
}
.lang-changer {
    bottom: 0;
    right: 0;
    position: absolute;
}
.obj_container {
    display: block;
    border: medium dashed red;
    background-color: gray;
    margin: 50px;
}
.obj_title {
    color: gold;
    font-weight: bold;
    text-align: center;
}
.good_text {
    color: lightgreen;
}
.ww_text {
    color: pink;
}
.vote_text {
    text-align: center;
}
.amount_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: thick double white;
    background-color: lightblue;
    margin: 15%;
    justify-content: center;
    align-items: center;
}
.exit_area {
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: center;
    display: flex;
}
.amountBtn {
    margin-top: 5%;
}
.bottomBtn {
    bottom: 0;
    position: absolute;
    margin-left: 43%;
}
.pausePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 100%;
}
.pauseTitle {
    color: red;
    font-weight: bold;
    text-align: center;
}
.removeBtn {
    margin-top: 30%;
}
.debugBtn {
    bottom: 0;
    left: 0;
    position: absolute;
}
.error_message {
    color: red;
    font-weight: bold;
    text-align: center;
}
.naming_role_ww {
    color: red;
}
.naming_role_ft {
    color: purple;
}
.naming_role_tf {
    color: skyblue;
}
.naming_role_ve {
    color: green;
}
.stage_container {
    display: flex;
    align-Items: center;
    margin: 5%;
    margin-top: 0;
}
.roles_banner {
    border: thin solid white;
    background-color: grey;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-top: 5%;
    font-size: larger;
}
#from_table {
    background-color: white;
    border: thin solid grey;
    margin: 10%;
    margin-top: 20%;
}
.player_form {
    margin: 5px;
}
.name_input {
    width: 100%;
}
#start_area {
    margin: auto;
}
.startBtn {
    margin: 0 auto;
}
.name_btn_container {
    border: thick solid red;
}
.console_container {
    border: thick solid red;
    background-color: grey;
}
.stage_header {
    text-align: center;
}
.ask_player_text {
    text-align: center;
    font-weight: bold;
}
.user_header {
    text-align: center;
}
.simple_center {
    margin: 0 auto;
}
.ability_text {
    text-align: center;
}