#sudotime {
    display: inline-block;
    color : grey;
    font-size: x-small;
    position: absolute;
    right: 0px;
}
#sudodiff {
    display: inline-block;
    color : black;
}
#sudorec {
    display: inline-block;
}
#sudokuraw {
    border: 3px solid skyblue;
    font-weight: bold;
    margin: 0 auto;
}
.tds {
    border: 1px solid lightgrey;
    min-width: 35px;
    min-height: 35px;
    text-align: center;
    font-size: 21px;
}
#tr2, #tr5 {
    border-bottom: 3px solid skyblue;
}
tr td:nth-of-type(3), tr td:nth-of-type(6) {
    border-right: 3px solid skyblue;
}
.rawnum {
    color: black;
}
.solvednum {
    color: blue;
}
.samenum {
    background-color: lightgrey;
}
dialog {
    text-align: center;
}
.btnsec {
    max-height: 40px;
    margin-top: 50px;
    VISIBILITY: collapse;
}
.snumpad {
    margin-right: 13px;
}
#sudo1 {
    margin-left: 13px;
}
.diffbtn {
    margin: 8px;
    color: black;
}
.cellselected {
    background-color: lightblue;
}