body {
  font-family: 'Indie Flower', cursive; }

body.home {
  background-color: lightgrey; }

body.night {
  background-color: black; }

body.day {
  background-color: beige; }

body.win {
  background-color: lightblue; }

em {
  text-decoration: underline;
  font-weight: bold; }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease; }

.modal-wrapper {
  display: table-cell;
  vertical-align: middle; }

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif; }

.modal-header h3 {
  margin-top: 0; }

.modal-body {
  margin: 20px 0;
  font-weight: bold; }

.modal-footer {
  font-size: 15px; }

.modal-default-button {
  float: right; }

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0; }

.modal-leave-active {
  opacity: 0; }

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

#unipause {
  text-align: center;
  position: relative;
  margin-top: 2em; }

#tohome {
  left: 0;
  position: fixed; }

#tostart {
  right: 0;
  position: fixed; }

.playerform {
  margin-bottom: 10px;
  display: inline-block;
  border: thick solid yellow;
  border-radius: 3px;
  background-color: cornflowerblue; }

#gametitle {
  display: inline-block;
  color: gold;
  font-weight: bold;
  font-family: "Comic Sans MS";
  background-color: black;
  border: thick double Red;
  border-radius: 8px;
  padding: 5px; }

#player-creation {
  text-align: center; }

#gamerlist div {
  padding: 10px;
  border: thick double skyblue;
  border-radius: 6px;
  background-color: gold; }

#startbtn {
  display: inline-block;
  margin-bottom: 10px; }

#gamesetting {
  text-align: center; }

.roleset {
  border: 1px solid Blue;
  border-radius: 3px; }

.Good_side {
  background-color: lightblue;
  color: forestgreen; }

.Evil_side {
  background-color: black;
  color: Red; }

.Spirit-Fox_side {
  background-color: #b29ab9;
  color: #9d33ac; }

#rolesetnum {
  display: inline-block;
  margin: 5px auto;
  border-radius: 3px;
  padding: 3px; }

#detailset {
  display: inline-block;
  border: 1px solid grey;
  margin: 10px; }

.detailli {
  margin-bottom: 0px;
  list-style: none;
  text-align: left; }

.oddSet {
  background-color: azure; }

.evenSet {
  background-color: lightgreen; }

.btnspace {
  margin: 10px auto;
  background-color: lightblue;
  border: 1px solid grey;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px; }

.btnspace button {
  margin: 10px 10px; }

#controlrm {
  text-align: center; }

.descriptgood, .descriptevil, .descriptsf {
  border-radius: 6px; }

.descriptgood {
  border: thick solid Green; }

.descriptevil {
  border: thick solid Red; }

.descriptsf {
  border: thick solid purple; }

.wwstorynote {
  font-size: small;
  font-style: italic;
  color: grey; }

#controlpage {
  display: inline-block;
  border: thick double grey;
  border-radius: 3px;
  min-width: 80vw;
  min-height: 50vh; }

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
.animated {
  animation-name: grow;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

.wwli_1 {
  color: Gold; }

.wwli_0 {
  color: Grey;
  text-decoration: line-through Red; }

#wwrule {
  right: 5%;
  position: absolute; }

#winresult {
  text-align: center;
  background-color: #12f7c2; }

.winning {
  background-color: black;
  font-weight: bold;
  border: double gold;
  margin: 10px;
  display: inline-block;
  font-size: 200%; }

.getext {
  border: thick solid Green;
  background-color: skyblue;
  font-weight: bold;
  font-size: 120%; }

.gegrid {
  margin: 3px; }

.endali, .enddie {
  margin-bottom: 15px; }

.endali {
  border: double #ca1e1e;
  background-color: #fff400fc;
  font-weight: bold; }

.enddie {
  border: solid darkslategrey;
  background-color: lightgray;
  font-style: italic;
  opacity: 0.7; }

.Good_end {
  color: Green; }

.Evil_end {
  color: Red; }

.Spirit-Fox_end {
  color: #9d33ac; }

#lang-changer {
  bottom: 0;
  right: 0;
  position: absolute; }

/*# sourceMappingURL=wwnext.css.map */
