<!-- jinja2 -->
{% extends "layout.html" %}

{% block title %}
    Result
{% endblock %}

{% block main %}
    <div class="cheader">Currency Converter</div>
    <div class="d-flex flex-column" align="center">
        <div class="p-2 bg-primary" id="cresult">
            <p id="cbase">{{ value }} {{ base }}</p><br>
            <p id="cabout">is about</p>
            <p id="camount">{{ amount }} <span id="canother">{{ another }}</span></p>
            <p id="cdate">at {{ date }}</p>
        </div>
    </div>
    <div align="right">
        <form action="/convert" method="get">
            <button type="submit" class="btn btn-dark">
                <font color="gold">Try again</font>
            </button>
        </form>
    </div>
{% endblock %}