<!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- little jinja2 here-->
    <title>{% block title %}{% endblock %}</title>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap -->
    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- style navbar -->
    <link href="/static/nav.css" rel="stylesheet">
    <!-- javascript -->
    <script src="/static/scripts.js"></script>
  </head>
  <body style="background-color:lightgray">
        <nav class="navbar navbar-toggleable-xl navbar-dark bg-dark">
            <!-- to do -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- add a search box. Code from: www.google.com -->
            <form id="navsearchbox" class="form-inline mx-auto" align="center" action="https://www.google.com/search" target="_blank" onsubmit="navsubmit()">
                <input id="navquery" placeholder="Google it!" maxlength="500" name="q" type="text" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" required>
                <select id="navselect">
                    <option value="search">Default</option>
                    <option value="map">Map</option>
                    <option value="youtube">Youtube</option>
                    <option value="twitter">Twitter</option>
                </select>
            </form>
            <a class="navbar-brand" href="/">FRANK</a>
        </nav>
        <div class="pos-f-b">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark" style="padding-left: 4px;">
                    <a class="btn btn-primary" href="/">Home</a>
                    <a class="btn btn-primary" href="/convert">Currency Converter</a>
                    <a class="btn btn-primary" href="/decimal">Long Division(Decimal)</a>
                    <a class="btn btn-primary" href="/imgsearch">Search Image</a>
                    <a class="btn btn-primary" href="/werewolf">Werewolf(localplay)</a>
                    <a class="btn btn-primary" href="/sudoku">Sudoku</a>
                    <a class="btn btn-secondary disabled" href="#" aria-disabled="true">Disabled</a>
                </div>
            </div>
        </div>
        <main class="container p-5">{% block main %}{% endblock %}</main>
        <footer class="footer">
            <div class="container">
                <span id="thanks">
                    Using <a href="https://getbootstrap.com/"><em>bootstrap 4.</em></a>
                    Host by <a href="https://www.heroku.com/"><em>Heroku.</em></a>
                </span>
                <span id="localtime"></span>
            </div>
        </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>