<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ONE NIGHT</title>
    <!-- Try vue.js with i18n this time -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- MIT License --> 
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <!-- Bootstrap -->
    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% raw -%}
    <div id="app">
        <h1 class="game_title_text">{{ $t("message.topic") }}</h1>
        <p>{{ $t("message.hello") }}</p>
    </div>
    <!-- style -->
    <link href="/static/onwcss.css" rel="stylesheet">
    <!-- javascript -->
    <script src="/static/one_night_ww.js"></script>
    {%- endraw %}
  </body>