<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ONE NIGHT</title>
    <!-- Try vue.js with i18n this time -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- MIT License -->
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <!-- Bootstrap -->
    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% raw -%}
    <div id="app">
        <!-- for lang change -->
        <div class="lang-changer">
          <select v-model="$i18n.locale" @change="onLocaleChange()">
            <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang.value">{{ lang.name }}</option>
          </select>
        </div>
        <!-- front page -->
        <template v-if="presisted.stage === 0">
          <!-- wrap whole page -->
          <div class="container">
            <h1 class="game_title_text">{{ $t("frontPage.topic") }}</h1>
            <div class="obj_container">
              <h3 class="obj_title">{{ $t("frontPage.header") }}</h3>
              <p class="good_text" v-html='$t("frontPage.villagers")'></p>
              <p class="ww_text" v-html='$t("frontPage.werewolve")'></p>
              <h6 class="vote_text">{{ $t("frontPage.vote") }}</h6>
            </div>
            <div class="amount_container">
              <div class="amount_text">{{ $t("frontPage.amount") }}</div>
              <select v-model="players_amount" style="padding: 5%;">
                <option v-for="i in 5" :key="`${i}`" :value="i + 2">{{ i + 2 }}</option>
              </select>
              <button class="btn btn-primary amountBtn" @click="goToName">{{ $t("frontPage.startBtn") }}</button>
            </div>
            <div class="exit_area"><a class="btn btn-danger" href="/">{{ $t("frontPage.exitBtn") }}</a></div>
          </div>
        </template>
        <!-- naming page -->
        <template v-if="presisted.stage === 1">
          <!-- wrap whole page -->
          <div class="container">
            <!-- list of roles -->
            <div class="row roles_banner">
              <span>{{ $t("naming.rolesAre") }}</span>
              <span v-for="(roleStr) in roles" :class="'naming_role_' + roleStr">{{ $t("roles." + roleStr) + ", " }}</span>
            </div>
            <!-- bootstrap table -->
            <div id="from_table" class="row justify-content-center">
              <div class="col-5 col-lg-3 player_form" v-for="(player, i) in presisted.players">
                <input v-model="playerNames[i]" :placeholder="$t('naming.placeholder')" class="name_input">
              </div>
            </div>
            <!-- start button -->
            <div id="start_area" class="row">
              <button class="btn btn-success startBtn" @click="gameStart">{{ $t("naming.startBtn") }}</button>
            </div>
          </div>
        </template>
        <!-- gaming page -->
        <template v-if="presisted.stage === 2 || presisted.stage === 3">
          <!-- wrap whole page -->
          <div :class="containerClass">
            <!-- wrap name button -->
            <div class="name_btn_container">
              <template v-for="player in presisted.players">
                <button :class="getCls(player.name)" @click="toggleInfo(player.name)" :disabled="toggleNameButton(player.name)">
                  {{ player.name }}
                </button>
              </template>
            </div>
            <!-- wrap console -->
            <div class="console_container">
              <!-- button clicked -->
              <template v-if="player_toggle">
                <!-- player confirmed -->
                <template v-if="is_checking">
                  <!-- player want to see -->
                  <template v-if="show_role && presisted.stage === 2">
                    <h1 :class=" user_role + '_header' ">{{ user_name + $t("console.YouAre") + $t("roles." + user_role) }}</h1>
                    <h6 class="memory_caution">{{ $t("console.memoryCaution") }}</h6>
                    <p class="ability_text">{{ $t("console.st_" + user_role) }}</p>
                    <p class="ability_text">{{ $t("console.nd_" + user_role) }}</p>
                    <select v-model="actTarget">
                      <option selected disabled :value="null">{{ $t("console.defaultSelect") }}</option>
                      <option v-for="name in targetList">{{ name }}</option>
                      <option v-if="user_role === 'ft'" :value="'ft_see_two'">{{ $t("console.notInGame") }}</option>
                    </select>
                    <p class="ability_text">{{ $t("console.rd_" + user_role) }}</p>
                    <button class="btn btn-warning" @click="useAbility">{{ $t("frontPage.startBtn") }}</button>
                  </template>
                  <!-- ability result -->
                  <template v-else-if="night_result && presisted.stage === 2">
                    <!-- fortune result -->
                    <template v-if="user_role === 'ft'">
                      <p class="ability_text">
                        <span>{{ $t("console.yourTargetIs") }}</span>
                        <span v-if="actTarget === 'ft_see_two'">{{ $t("console.notInGame") }}</span>
                        <span v-else>{{ actTarget }}</span>
                      </p>
                      <p class="ability_text">{{ $t("console.ftRole") }}</p>
                      <h1 class="ft_roles" v-for="roleCode in ftList">{{ $t("roles." + roleCode) }}</h1>
                      <h6 class="memory_caution">{{ $t("console.memoryCaution") }}</h6>
                    </template>
                    <!-- phantom result -->
                    <template v-else-if="user_role === 'tf'">
                       <!-- check if self-choose -->
                      <template v-if="actTarget === user_name">
                        <p class="ability_text">{{ $t("console.tfSelfChoice") }}</p>
                      </template>
                      <template v-else>
                        <p class="ability_text">
                          <span>{{ $t("console.yourTargetIs") }}</span>
                          <span>{{ actTarget }}</span>
                        </p>
                        <p class="ability_text">{{ $t("console.tfNow") }}</p>
                        <h1 class="tf_roles">{{ $t("roles." + tfRole) }}</h1>
                        <p class="tf_to_ww" v-if="tfRole === 'ww'">{{ $t("console.tfwwSwap") }}</p>
                        <h6 class="memory_caution">{{ $t("console.memoryCaution") }}</h6>
                      </template>
                    </template>
                    <!-- werewolf result -->
                    <template v-else-if="user_role === 'ww'">
                      <p class="ability_text">{{ $t("console.wwName") }}</p>
                      <h1 class="ww_names" v-for="name in wwNameList">{{ name }}</h1>
                      <h3 class="ability_text" v-if="wwNameList.length === 1">{{ $t("console.lonewolf") }}</h1>
                      <h6 class="memory_caution">{{ $t("console.memoryCaution") }}</h6>
                    </template>
                    <!-- village result -->
                    <template v-else-if="user_role === 've'">
                      <p class="ability_text">{{ $t("console.noAction") }}</p>
                    </template>
                    <p class="ability_text">{{ $t("console.resultViewed") }}</p>
                    <button class="btn btn-warning" @click="endPlayerConsole">{{ $t("frontPage.startBtn") }}</button>
                  </template>
                  <!-- ask player to see -->
                  <template v-else-if="presisted.stage === 2">
                    <h1 class="user_header">{{ user_name }}</h1>
                    <button class="btn btn-danger simple_center" @click="roleShow">{{ $t("console.showMyRole") }}</button>
                  </template>
                   <!-- player want to vote -->
                  <template v-else-if="ballot_toggle && presisted.stage === 3">
                    <h1 class="user_header">{{ user_name }}</h1>
                    <p class="ability_text">{{ $t("console.voteToOne") }}</p>
                    <!-- render toVoteList -->
                    <select v-model="actTarget">
                      <option selected disabled :value="null">{{ $t("console.defaultSelect") }}</option>
                      <option v-for="name in toVoteList">{{ name }}</option>
                    </select>
                    <p class="ability_text">{{ $t("console.voteChoosing", {name: actTarget}) }}</p>
                    <button class="btn btn-warning" @click="voteAction">{{ $t("frontPage.startBtn") }}</button>
                  </template>
                  <!-- ask player to vote -->
                  <template v-else-if="presisted.stage === 3">
                    <h1 class="user_header">{{ user_name }}</h1>
                    <button class="btn btn-danger simple_center" @click="ballotQuery">{{ $t("console.wantToVote") }}</button>
                  </template>
                </template>
                <!-- player yet confirm -->
                <template v-else>
                  <h1 class="user_header">{{ $t("console.askIfPlayer") + user_name + " ?"}}</h1>
                  <button class="btn btn-danger simple_center" @click="playerConfirmeSelf">{{ $t("console.IAm") + user_name }}</button>
                </template>
              </template>
              <!-- plain stage description -->
              <template v-else-if="!stage_end">
                <!-- night description -->
                <h1 v-if="presisted.stage === 2" class="stage_header" v-html='$t("console.night")'></h1>
                <h1 v-else class="stage_header" v-html='$t("console.day")'></h1>
                <p class="ask_player_text">{{ $t("console.askForPlayer") }}</p>
                <button v-if="presisted.stage === 3" class="btn btn-info">{{ $t("console.ruleBtn") }}</button>
              </template>
              <!-- next stage alert -->
              <template v-else>
                <h1 class="stage_header">{{ $t("console.stageEnd") }}</h1>
                <button class="btn btn-success simple_center" @click="ToNextStage">{{ $t("console.nextStage") }}</button>
              </template>
            </div>
          </div>
        </template>
        <!-- game finish show vote result -->
        <template v-else-if="presisted.stage === 4">
          <!-- wrap whole page -->
          <div class="result_container">
            <h3 class="ability_text">{{ $t("vote.result") }}</h3>
            <ul style="list-style: none;">
              <li v-for="data in presisted.players">{{ data.name }}: {{ data.vote }}</li>
            </ul>
            <h2 class="ability_text">{{ $t("vote.execution") }}</h2>
            <h1 style="color: red" v-for="name in executedList">{{ name }}</h1>
            <h1 v-if="executedList.length === 0">{{ $t("vote.noExecution") }}</h1>
            <button class="btn btn-danger simple_center" @click="voteChecked">{{ $t("frontPage.startBtn") }}</button>
          </div>
        </template>
        <!-- time to win -->
        <template v-else-if="presisted.stage === 5">
          <!-- decide win side -->
          <!-- wrap whole page -->
          <div class="win_container">
            <h1 class="game_title_text">{{ $t("frontPage.topic") }}</h1>
            <!-- players data or side win -->
            <template v-if="toggleList">
              <!-- contain what rendered -->
                <div class="content_container">
                  <!-- render players data -->
                  <template v-for="data in presisted.players">
                    <!-- for each data, show name, role, if executed, if win. Considering to add origin -->
                    <div :class="( executedList.includes(data.name) )? 'dead_data' : 'alive_data' ">
                      <span v-if="(winControl === 'ww' && data.role === 'ww') || (winControl !== 'ww' && data.role !== 'ww')">
                        <span style="color: gold">{{ $t("sidePage.winner") }}</span>
                      </span>
                      <span :class=" 'player_data name_' + data.role ">{{ data.name }} ( {{ $t("roles." + data.role) }} )</span>
                    </div>
                  </template>
                  <button class="btn btn-success" @click="toggleWin">{{ $t("sidePage.showSide") }}</button>
                </div>
            </template>
            <template v-else>
              <!-- render win side -->
              <div class="content_container">
                <h1 :class="winControl + '_banner'">{{ $t("sidePage.banner_" + winControl) }}</h1>
                <button class="btn btn-success" @click="toggleWin">{{ $t("sidePage.showList") }}</button>
              </div>
            </template>
          </div>
        </template>
        <!-- global error message -->
        <div v-if="toggle_error && presisted.stage !== 99" class="error_message">{{ $t("errorType."+ err_type) }}</div>
        <!-- pause area -->
        <template v-if="presisted.stage === 99">
          <div class="pausePage">
            <h1 class="pauseTitle">{{ $t("pauseControl.title") }}</h1>
            <button class="btn btn-danger removeBtn" @click="removeGame">{{ $t("pauseControl.removal") }}</button>
            <!-- debug mode button -->
            <button class="btn btn-dark debugBtn" @click="debugMode"></button>
          </div>
        </template>
        <!-- universal(sort of) button -->
        <template v-if="(presisted.stage !== 0)">
          <div class="bottomBtn">
            <button class="btn btn-warning" @click="togglePause">
              <!-- use v-show coz toggle might be offen -->
              <span v-show="presisted.stage !== 99">{{ $t("pauseControl.toPause") }}</span>
              <span v-show="presisted.stage === 99">{{ $t("pauseControl.returnGame") }}</span>
            </button>
          </div>
        </template>
    </div>
    <!-- style -->
    <link href="/static/onwcss.css" rel="stylesheet">
    <!-- javascript -->
    <script src="/static/one_night_ww.js"></script>
    {%- endraw %}
  </body>