<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WEREWOLF</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>
    <!-- MIT License -->
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.min.js"></script>
    <!-- https://fonts.google.com -->
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <!-- Bootstrap -->
    <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  {% raw -%}
  <body>
    <!-- Modal from vue
    https://vuejs.org/v2/examples/modal.html
    template for the modal component -->
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                  Loading...
                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                  Loading...
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  Loading...
                </slot>
                <button class="modal-default-button" @click="$emit('close')">
                  OK
                </button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>
    <!-- Modal app -->
    <div id="popwin">
      <modal v-if="showModal" @close="showModal = false">
        <!--
          you can use custom content here to overwrite
          default content
        -->
        <h3 slot="header" :style="{ color: headerColor }">{{ header }}</h3>
        <p slot="body">{{ body }}</p>
        <span slot="footer">{{ footer }}</span> <!-- Cannot use $emit in slot -->
      </modal>
    </div>
    <!-- universe pause button -->
    <div id="unipause">
      <a v-show="paused" href="/" class="btn btn-primary" id="tohome">{{ $t("pauseDiv.toHome") }}</a>
      <button class="btn btn-warning" id="pausebtn" @click="togglePause">{{ $t("pauseDiv.theSwitch") }}</button>
      <button class="btn btn-dark" id="debugbtn" @click="toggleDebbug" v-show="paused"></button>
      <button v-show="paused" class="btn btn-danger" id="tostart" @click="restartGame" :disabled="!paused">{{ $t("pauseDiv.toRestart") }}</button>
    </div>
    <!-- for lang change -->
    <div id="lang-changer">
      <select v-model="$i18n.locale" @change="onLocaleChange()">
        <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang.value">{{ lang.name }}</option>
      </select>
    </div>
    <!-- style -->
    <link href="/static/wwnext.css" rel="stylesheet">
    <!-- javascript -->
    <script src="/static/wwnext.js"></script>
  </body>
  {%- endraw %}
</html>